*{
    padding :0;
    margin: 0;
    box-sizing: border-box; /*merge padding and border inside box*/
    font-family: 'Poppins', sans-serif;
}

.hero__section {
    background: url(images/heroSectionBackground.png);
    background-position: center;
    background-size: cover;
    color: white;
    min-height: 60vh;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 48px;
    height: 60px;
    
}

.navbar a{
    text-decoration: none;
    color: white;
    font-weight: 300;
}

.navbar__menu__container{
    display:flex;
    gap:20px;
}

.user__icon
{
    height: 30px;
    width: 30px;
    border-radius: 35px;
    border: solid white 1px;
    display: none;
    align-items: center;
    justify-content: center;

}

    

.hero__section__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: calc(60vh - 60px);
}

.hero__section__logo{
    width: 300px;
}

.hero_section_title{
    font-size: 37px;
    font-weight: 300;
    text-align: center;
}

.hero_section_input_container{
    background-color: white;
    padding: 7px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
}

.input_container_location,
.input_container_search{
    padding: 10px;
    border: none;
    outline: none;
}

.input_container_location{
    width: 27%;
    border-right: 1px solid grey;

}
.input_container_search{
    width:64% ;
}

.extraa{
    width: 3%;
    color: orange;
    padding-left: 15px;
    padding: none;
}

.extraa1{
    width: 3%;
    color: black;
    padding-left: 12px;
}
.a{
    display: flex;
}

.container{
    margin: 48px 12px;
    width: 20%;
}

.we__offer
{
    width: 100%;
    display :flex;
    align-items: center;
    justify-content: center;
    gap:35px;
    flex-wrap: wrap;
}

.we__offer .card{
    border-radius: 10px;
    overflow: hidden;
    border: solid 1px grey;
    translate: 500ms ease out all;
}

.we__offer .card img{
    height: 170px;
    width:300px;
    object-fit: cover;
    object-position: center;

}

.we__offer .card h2{
    padding: 8px 10px 0px 10px;
    font-weight: 300;
    font-size: 20px;
}

.we__offer .card p{
    font-size: 13px;
    padding: 0px 10px 10px 10px;
}

.we__offer .card:hover{
    transform: scale(1.05);
}









@media only screen and (max-width:600px)
{
    .navbar__menu__container .link{ 
        display: none;
    }
    .user__icon{
        display: flex;
    }
    .hero__section{
        min-height: 80vh;
    }

    .navbar{
        padding :16px;
    }

    .hero_section_input_container{
        flex-direction: column;
        background-color: transparent;
        padding: 10px;
        width: 100%;
    }
    .input_container_location,
.input_container_search{
    padding: 15px;
    border-radius: 10px;
    width: 90%;
}

.hero__section__container{
    height: calc(80vh - 60px);
}
.input_container_location{
    border-radius: none;
}
}

